/* Navbar */

.navbar-container{
    background-color: #0e1418;
}

.brand-container{
    display: flex;
    align-items: center;
}

.navbar-brand .navbar-text{
    font-size: 2rem;
    color: aliceblue;
    padding-left: 10px;
}


/* Roadmap */

.roadmap-header {
    color: white;
    background-color: #0e1418;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highcharts-data-label-box > div {
    background-color: #f3f3f3 !important; /* Replace with the color you want */
}

g.highcharts-data-labels.highcharts-series-0.highcharts-timeline-series.highcharts-tracker {
    fill: red !important;
}

.steps {
    background-color: blue;
}

g.highcharts-data-labels.highcharts-series-0.highcharts-timeline-series.highcharts-tracker > g > rect{
    fill: var();
}

.highcharts-background {
    fill: #0e1418 !important;
}