/* Navbar */

.navbar-container{
    background-color: #0e1418;
}

.brand-container{
    display: flex;
    align-items: center;
}

.navbar-brand .navbar-text{
    font-size: 2rem;
    color: "#154d77" !important;
    padding-left: 10px;
    background: linear-gradient(to right, #5eb7b7, #154d77) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.navbar-header{
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #154d77;
    -webkit-text-stroke: 1px #5eb7b7;
}
/* Roadmap */

.roadmap-header {
    color: white;
    background-color: #0e1418 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.roadmap-input{
    height: 30px;
    margin-right: 20px;
    background-color: #090b0e !important;
    color: white;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 0 5px #4e80ca;
}

.roadmap-input:focus{
    border: none;
    outline: none;

}

.roadmap-button{
    height: 30px;
    background-color: #090b0e !important;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px #4e80ca;

}


.highcharts-background {
    fill:#0e1418  !important;
}

.steps{
    fill:#0e1418  !important;
}   

.highcharts-label-box{
    fill: none;
}

.highcharts-point {
    stroke: none;
}

/* path.highcharts-graph {
    stroke: linear-gradient(to top, #5eb7b7, #154d77) !important;
} */