/* Navbar */

.navbar-container{
    background-color: #0e1418;
}

.brand-container{
    display: flex;
    align-items: center;
}

.navbar-brand .navbar-text{
    font-size: 2rem;
    color: "#154d77" !important;
    padding-left: 10px;
    background: linear-gradient(to right, #5eb7b7, #154d77) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}


/* Roadmap */

.roadmap-header {
    color: white;
    background-color: #0e1418 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highcharts-background {
    fill:#0e1418  !important;
}

.steps{
    fill:#0e1418  !important;
}   

.highcharts-label-box{
    fill: none;
}

.highcharts-point {
    stroke: none;
}

/* path.highcharts-graph {
   
} */